.md-header-nav__title img { height: 48px; width: auto; }


.custom-button {
  display: inline-flex;
  align-items: center;
  padding: 0.5em 1em;
  background-color: #6200ee;
  color: white !important;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #3700b3;
}
